*{
    padding: 0; 
    margin: 0;
    box-sizing: border-box;
}
.grilla{
    height: 100dvh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 100px 50px 2fr 2fr  75px;
    grid-template-areas: 
    "header"
    "nav"
    "productos"
    "servicios"
    "footer"
    ;
    column-gap: 10px;
    row-gap: 10px;
}
.border{
    border:  2px solid red;
}
.border-img{
    object-fit: cover;
    height: 90%;
    margin-right: 40px;
}
header{
    grid-area: header;
    background-color: rgb(0, 0, 0);
}
nav{
    grid-area: nav;
}
a{
    text-decoration: none;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
}
.productos{
    grid-area: productos;
    background-color: rgba(255, 255, 255, 0.171);
    display: flex;
    flex-direction: column;
    align-items: center;
}
.servicios{
    grid-area: servicios;
    background-color: rgb(54, 240, 17);
}
footer{
    grid-area: footer;
    background-color: rgb(255, 255, 255);
}
@media (min-width: 768px) {
    .grilla{
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: 100px 80px 1fr 1fr 75px;
        grid-template-areas: 
        "header header header header"
        "nav nav nav nav"
        "productos productos productos productos "
        "servicios servicios servicios servicios"
        "footer footer footer footer"
        ;
        column-gap: 10px;
        row-gap: 10px;
    }
    .item-1{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .item-2{
        display: flex;
        flex-direction: row; 
        flex-wrap: wrap;
    }
    .item-3{
        display: flex;
        flex-direction: row; 
        flex-wrap: wrap;
    }
}
.card img{
    width: 100%;
}
.card{
    border: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 500px;
    width: 350px;
    border-radius: 2em;
    border: 1px;
    border-style:outset;
    margin: 4em;
    box-shadow: 7px 7px 15px 3px rgb(97, 97, 97);
}
.card p{
    position: relative;
    bottom: 40px;
    font-size: 2em;
}
.fondo-principal{
    width: 90%;
}

.img-principal{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.articulos{
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    background-color: black;
    color: white;
}
.cuerpo{
    font-family: Arial, Helvetica, sans-serif;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
form{
    padding: 50px 55px;
    box-shadow: 0 0 20px rgba(0, 0, 0 , 0.2);
    border-radius: 20px;
    text-align: center;
    width: 500px;
}
.input-group{
    display: flex;
    flex-direction: column;
    text-align: left;
}
h2{
    color: #283629;
    font-size: 35px;
}
label{
    color: #283629;
    font-size: 15px;
    font-weight: 600;
    margin-bottom: 15px;
}
input, textarea {
    padding: 17px 25px;
    border-radius: 25px !important;
    margin-bottom: 20px;
    background-color: #EDFFF0;
    border: #F0FAF1;
    color: #283629;
    outline: none;
    }
    input::placeholder, textarea::placeholder{
        color: #b5cab6;
    }
    .form-txt{
        margin-bottom: 30px;
        display: flex;
        justify-content: space-between;
        text-align: center;
    }
    .form-txt a{
        color: #76b28e;
        font-size: 14px;
        font-weight: 600;
        text-decoration: none;
    }
    .bnt{
        font-size: 16px;
        color: #ffffff;
        border: 0;
        border-radius: 25px;
        background-color: #51d94c;
        box-shadow: 0 0 20px rgb(25, 254, 0 , 0.4);
        cursor: pointer;
    }
    .btn:hover{
        background-color: #50e04b;
    }
    @media(max-width:991px){
        .cuerpo{
            padding: 30px;
        }
        form{
            padding: 50px 30px;
            width: 100%;
        }
        input{
            padding: 15px;
        }
    }
.section-container{
    margin: 10px 15px 15px 10px;
}
.imagen-moto{
    width: 100%;
    padding: 30px;
    border-radius: 10px 10px 0 0;
}
.articulos-moto-imagen{
    background-color: white;
    border: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 500px;
    width: 350px;
    border-radius: 2em;
    border: 1px;
    border-style:outset;
    margin: 4em;
    box-shadow: 7px 7px 15px 3px rgb(97, 97, 97);
}
.articulos-moto{
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 0px 10px #000;
    display: flex;
}
.container-product{
    background-color: #e5cfa6;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;
}
.container-info{
    border: #000;
    border-style: solid;
    background-color: white;
    border-radius: 25px;
    box-shadow: 0 0 9px 10px rgb(110, 101, 101);    
    width: 90%;
    display: flex;
    align-items: center;
    margin-top: 30px;
    flex-direction: column;
}
.container-info p{
    width: 70%;
}
.card-informacion{
    display: flex;
    flex-direction: column;
    align-items: center;
}
@media (min-width: 768px){
    .container-info{
        display: flex;
        flex-direction: row;
    }
    .card-informacion{
        display: flex;
        align-items: start;
    }
}